.wrapper {
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}
.form_item {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.title_form {
  font-weight: 800;
  color: rgb(64, 169, 255);
  text-align: center;
}
.item_input {
  height: 40px;
}
